.identifying-information {
    display: flex;
    justify-content: flex-start;
}
.info-text {
    display: flex;

}
/* .pink-back {
  background: pink;
} */
textarea.form-control {
    height: 500px;
}

.app-container {
    height: 100%;
    background: grey;
    padding-bottom: 5em;
}

.opm-table {
    border: none;
}

.record-results {
    display: flex;
    justify-content: flex-start;
}
